body {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}
.text-wrap {
  width:60%;
  margin:0 auto;
  padding: 30px 0 50px;
}
h1 {
  margin-bottom: 40px;
}
a {
  color: #1d3854;
}
a:hover {
  text-decoration: none;
}
