body.pages  {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  overflow: scroll;
}
.pages .text-wrap {
  width:60%;
  margin:0 auto;
  padding: 30px 0 50px;
}
.pages h1 {
  margin-bottom: 40px;
  font-size: 20px;
}
.pages a {
  color: #1d3854;
}
.pages a:hover {
  text-decoration: none;
}
.pages p {
  margin-bottom: 1em;
}
