body, html {margin: 0;height: 100%;overflow: hidden;font-family: Tahoma, Geneva, sans-serif;font-size: 13px;}
.bgc {background: #1d3854;}
.fgc {color: #b7250c; border-color: #b7250c}
.fbgc {background: #b7250c;}
.clear {clear: both;overflow: hidden;/* padding: 4px; */}
.none {display: none}
.overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;  }
.capitalize:first-letter { text-transform: uppercase; }
.capitalize-all {text-transform: capitalize;}
.loading:before, .locked:before {content:'';display:block;position: absolute;z-index:1000;/* opacity:0.8; */top:0;left:0;right:0;bottom:0;}
.locked {position: relative;}
.locked:before {content: '';background: rgba(255, 212, 136, 0.32);text-align: center;padding-top: 10px;color: #777;font-style: italic;}
.loading:before {background: rgba(255, 255, 255, 0.22) url(img/spin.svg) no-repeat center;}
.bull:after {content: '\2022';padding: 0 4px;}

a { cursor: pointer;  }
b {font-weight: bold}
nav {background: rgba(255, 255, 255, 0.11);overflow: hidden;margin-left: 20px;}
nav a {float: left;line-height: 38px;padding: 0 16px;color: rgba(255, 255, 255, 0.69);transition: background-color 0.3s ease-out;border-right: 1px solid rgba(255, 255, 255, 0.16);text-transform: uppercase;font-size: 11px;}
nav a{ display: block }
nav a:hover {color: #fff}
nav a.selected {background: rgba(255, 255, 255, 0.8);color: #000;}
nav a.btn-menu {border-right: 0;/* float: right; *//* font-size: 14px; *//* padding: 0 16px; *//* position: absolute; */}
.btn {border-radius: 2px;line-height: 30px;padding: 0 20px;/* color: #fff; */border-width: 1px;cursor: pointer;border-style: none;box-sizing: border-box;height: 30px;background: rgba(255, 255, 255, 0.7);}
.btn:active {opacity: 0.8  }
.btn:hover {opacity: 0.9  }
.btn-sec {background: transparent;}
.btn-prim {color:#fff;border: 0;}
.btn-sec:active {opacity: 0.5  }
.btn-save i {/* padding-right: 8px */}
.btn-loading:before {content: '';background: url(img/spin-white.svg) no-repeat center;width: 30px;position: absolute;z-index: 1;margin-left: -60px;height: 30px;background-size: 30px;}

.back-to-map {display: none;}

nav a.expanded {background: rgba(255, 255, 255, 0.15);color: #fff;}
.main-nav {position: absolute;z-index: 1;top: 39px;right: 0;display: none;box-shadow: 0 0 6px rgba(0, 0, 0, 0.48);}
.main-nav.expanded {}
.main-nav a {float: none;text-decoration: none;background: rgba(255, 255, 255, 0.23);border-bottom: 1px solid rgba(255, 255, 255, 0.09);padding: 0 40px;}

.faded {opacity: 0;visibility: hidden;transition: opacity 0.5s ease-out, visibility 0s 0.5s, max-height 0s 0.5s;max-height: 0;/* display: none; */overflow: hidden;}
.faded.shown {opacity: 1;visibility: visible;max-height: 10000px;transition: opacity 0.5s ease-out;}

input[type="text"] {width: 100%;line-height: 30px;height: 30px;padding: 0 10px;box-sizing: border-box;background: rgba(255, 255, 255, 0.9);border: 0;font-family: monospace;/* color: #fff; */font-family: tahoma;}
input[type="text"]:focus {/* background: #fff; */}
::-webkit-input-placeholder { font-style: italic;}
::-moz-placeholder       {font-style: italic;}
:-ms-input-placeholder   {line-height: 30px; font-style: italic;}

.dblbuttons {overflow: hidden;white-space: nowrap;line-height: 20px;}
.dblbuttons button {padding: 0 10px;font-size: 12px; cursor: pointer;border-radius: 2px;background: transparent;color: rgba(255, 255, 255, 0.72);}
.dblbuttons button.selected {background: rgba(255, 255, 255, 0.3);color: #fff;cursor: default;}

body {height: 100%;position: relative;min-height: 100%;}
.pane {transition: width 0.5s ease-out;box-sizing: border-box;height: 100%;}
.pane.details {width: 400px;/* background: rgba(255, 255, 255, 0.2); */position: fixed;right: 0;z-index: 1;padding-top: 38px;overflow-y: auto;}
.pane.results {transition: margin 0.5s ease-out;padding: 0;margin-left: 320px;margin-right: 400px;background: rgba(255, 255, 255, 0.8);overflow: visible;min-height: 100%;height: auto;position: relative;overflow: hidden;}
.pane.toolbar {width: 320px;/* background: rgba(255, 255, 255, 0.2); */margin-right: 10px;position: fixed;/* padding-top: 20px; */z-index: 2;}
.pane.toolbar .pane-cont {/* padding-top: 40px; */position: relative;height: 100%;box-sizing: border-box;padding: 0;}

.pane-cont {padding: 10px;opacity: 1;transition: opacity 0.2s ease-out;}
.pane.collapsed .pane-cont {opacity: 0;}

.pane-toggle {cursor: pointer;position: fixed;background: #1b3046;color: rgba(255, 255, 255, 0.51);line-height: 40px;white-space: nowrap;top: 0;width: 20px;box-sizing: border-box;z-index: 1;height: 40px;/* text-align: Center; *//* left: 300px; */overflow: hidden;/* text-align: center; *//* font-size: 20px; */}
.pane-toggle {transition: width 0.3s ease-out;display: block;}
.pane-toggle b {font-family: arial;font-size: 12px;font-weight: normal;text-transform: uppercase;color: rgba(255, 255, 255, 0.73);}

.pane-toggle i {font-size: 18px;line-height: 40px;color: rgba(255, 255, 255, 0.72);padding: 0px 10px;}
.pane.details .pane-toggle {right: 0;width: 400px;background: rgba(255, 255, 255, 0.2);padding: 0;}
.pane.collapsed {width: 0;margin: 0;}
.pane.collapsed .pane-toggle{z-index: 1000;/* width: 40px; *//* background: rgba(255, 255, 255, 0.65); */height: 72px;line-height: 72px;}
.pane.collapsed .pane-toggle .angle-left {display: none}
.pane .pane-toggle .angle-right {display: none;}
.pane.collapsed .pane-toggle .angle-right {display: block;text-align: center;}
.pane.collapsed .pane-toggle .icon-angle-left, .pane.collapsed .pane-toggle .icon-angle-right { display: none; }
.pane.collapsed .pane-toggle .icon-search,
.pane.collapsed .pane-toggle .icon-th-list {display: block;color: #555;}

.pane .pane-toggle .icon-search,
.pane .pane-toggle .icon-th-list { display: none; }
.pane.collapsed .pane-toggle b { display: none; }

.hello-mess {position: absolute;transition: opacity ease-out 0.5s;background: #fffbc8;padding: 4px 10px;width: 229px;line-height: 17px;right: 5px;top: 40px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);opacity: 0;visibility: hidden;z-index: 1;}
.shown { opacity: 1; visibility : visible}

.loadable { /*transition: filter 1s ease-out; filter: grayscale(0) opacity(1) */ }
.loading {/*filter: grayscale(1) opacity(0.5)*/}
/*.loading:before {content: '';top:0;left: 0;right: 0;bottom: 0; background: #fff; position: absolute;z-index: 1;opacity: 0.4;}
*/
.pane.details.collapsed .pane-toggle{right: 0;/* display: none; */}
.pane.toolbar.collapsed ~ .results {margin-left:0;}
.pane.details.collapsed ~ .results {margin-right:0;}
.pane.details.collapsed ~ .list-header{padding-right: 0;right: 0;}
.pane.toolbar.collapsed ~ .list-header{left: 0;padding-left: 40px;}

.map-tools {position: absolute;top:0;/* left: 200px; */padding: 4px;right: 251px;}
.map-tools .tool-btn {float: left;width: 30px;height: 30px;line-height: 30px;background: rgba(255, 255, 255, 0.66);border-radius: 2px;text-align: center;font-size: 16px;margin-right: 4px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.38);}
.map-tools a:hover { opacity: 0.8 }
.map-tools .city-toggle {width: 100px;font-size: 12px;padding: 0 10px;}
#btn-locate {
    background: #ff823d;
    color: #fff;
}
.toolbar .search{position: relative;/* background: rgba(255, 255, 255, 0.8); */margin: 0;width: 100%;/* top: 37px; */box-shadow: none;}
.toolbar .search input[type="text"] {padding-right: 60px;}
.toolbar .list-toolbar { position: relative; }
.toolbar .list-options {position: absolute;top:0;right: 0;}
.list-options .opt {width: 30px;height: 30px;float: right;text-align: center;line-height: 30px;/* font-size: 14px; */}
.list-options .opt:hover { background: #fff }
.list-options .opt.focused + .opt-cont{/* width: 100%; */position: absolute;left: 0;right: 60px;z-index: 1;top: 0;}
.list-options .opt-cont {/* width: 0; */overflow: hidden;}

.search-toggle {cursor: pointer;/* display: none; */}
.search-toggle i {padding-right: 4px}
.search-toggle i:before{content: "\f106"; }
.search-toggle.collapsed i:before{content: "\f107"; }

.search-toggle:hover {color: rgba(255, 255, 255, 0.8)}
.search-toggle.collapsed + .checkbox-list {max-height: 0;  }
.search {position: absolute;right: 0;background: rgba(255, 255, 255, 0.83);top: 0;width: 250px;overflow: hidden;margin: 4px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.38);box-sizing: border-box;}
.search .icon-search{position: absolute;font-size: 16px;top: 6px;left: 9px;/* color: rgba(255, 255, 255, 0.4); */cursor: pointer;/* display: none; */}
.search input[type="text"] {background: transparent;padding-left: 34px;}
.search input[type="text"]:focus  { background: #fff }
.toolbar .checkbox-list {/* margin-left: 20px; *//* margin-top: 10px; */padding: 10px;}

.popup {background: rgba(255, 255, 255, 1);overflow: hidden;position: absolute;/* right: 0; */max-height: 369px;transition: max-height 0.2s ease-out;margin-top: 34px;z-index: 1;display: none;border-radius: 2px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);overflow-y: auto;}
.popup.collapsed {max-height : 0;border: 0;}
.popup li{/* line-height: 30px; */cursor: pointer;color: #555;border-bottom: 1px solid #ddd;box-sizing: border-box;font-size: 12px;}
.popup li a {display: block;padding: 0 10px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;line-height: 30px;}
.popup li u {display: block;padding: 0 10px;color: #999;line-height: 20px;font-size: 11px;/* text-align: right; */}
.popup li:hover, .popup li.hovered { color: #000; background:  #f1f1f1 }
.popup li:last-of-type {/* border: 0; */border-bottom: 0;}
.city-popup {width: 154px;}
.checkbox-list {overflow: hidden;}
.autocomplete {left: 0;top: 0;background: rgba(255, 255, 255, 1);width: 250px;display: block;border-radius: 0;}
.search-autocomplete {right: 0;left: initial;top: 0;margin: 4px;margin-top: 38px;}
.autocomplete h3 {line-height: 30px;color: #777;padding: 0 10px;font-weight: bold;}
.search-autocomplete.popup li{padding-left: 30px;}
.search-autocomplete.popup li.type-sectors a, .search-autocomplete.popup li.type-persons a{text-transform: capitalize;}
.search-autocomplete.popup li.no-records { color: #ccc}


.checkbox-list li{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.35);
    margin-bottom: 4px;
    white-space: nowrap;
    text-transform: capitalize;
}
.checkbox-list li i{
    background: rgba(255, 255, 255, 0.4);
    margin-right: 10px;
    /* line-height: 34px; */
    padding: 6px;
    display: inline-block;
}
.checkbox-list li i:before {opacity: 0; transition: opacity 0.2s ease-out;}
.checkbox-list li.checked i:before{opacity: 1}
.checkbox-list li.checked i {  background: rgba(255, 255, 255, 0.5); }
.checkbox-list li.checked {color: #fff;}

.mess {position: absolute;bottom: 0;left: 0;line-height: 30px;background: rgba(144, 236, 96, 0.65);z-index: 20;right: 0;text-align: center;}
.mess:before { display: block; width: 20px; height:20px; border-radius: 30px; background: #c00  }
.mess.warn {background: rgba(253, 255, 0, 0.79);}
.mess.error {background: rgba(253, 0 , 0, 0.79);color: #fff;display: none;}


@media screen and (max-width: 1350px) {
    .edited .info h6{float: none;margin-bottom: 4px;width: auto;}
    .edited .info input { margin-left: 0; width:100%; }
}
@media screen and (max-width: 1100px) {
    .info h6{float: none;margin-bottom: 4px;width: auto;}
    .info p { margin-left: 0;  }
}


.scroll-helper {position: fixed;bottom: 10px;right: 10px;z-index: 1;border-radius: 10px;color: rgba(255, 255, 255, 0.71);}
.scroll-helper a {font-size: 16px;padding: 4px 10px;display: inline-block;}

.tools {position: absolute;top: 0;right: 0;padding: 4px;z-index: 1;}
.tools .btn {padding: 0;width: 20px;text-align: center;float: left;margin-left: 2px;height: 20px;line-height: 20px;font-size: 10px;}
.btn-cancel, .btn-save{ display: none; }
.anketa.edit-mode  .btn-edit { display: none }
.anketa.edit-mode .ank-content {top: 120px;}
.edit-mode .btn-cancel, .edit-mode .btn-save{ display: block; }
.sub-panel.edit-mode .editable {border: 1px solid #ccc;padding: 4px;color: #fff !important;}

.details-tools {}
.details-toggle {overflow: hidden;position: absolute;top: 0;left: 0;right: 0;/* background: rgba(255, 255, 255, 0.11); */margin: 0;}


.details .name {font-size: 14px;color: #fff;line-height: 16px;/* margin-bottom: 10px; */overflow:hidden;}
.details .name span {display: block;margin-left: 110px;}
.details .name .name-link {text-decoration: none;color: #fff;margin: 4px 0 10px;display: block;}
.details .name .tel {font-size: 13px;}
.details .name .tel-name {margin-top: 6px;color:#fff;font-size: 13px;line-height: 14px;}
.details .addr {font-size: 13px;color: rgba(255, 255, 255, 0.75);line-height: 16px;margin-top: 6px;}
.details .tel i{padding-right: 10px;line-height: 20px;font-size: 16px;color: rgba(255, 255, 255, 0.35);float: left;}
.details .desc {font-size: 11px;margin-top: 10px;color: rgba(255, 255, 255, 0.8);}
.details .btn-edit { display: none }
.details .rates {color: rgba(255, 255, 255, 0.88);/* margin: 10px 0; */background: rgba(255, 255, 255, 0.12);/* padding: 10px; */max-height: 0;overflow: hidden;box-sizing: border-box; transition: ease-out 0.5s max-height}
.details .rates li{padding: 4px 6px;line-height: 24px;}
.details .rates .ank-rate {margin-right: 10px;float: left;}
.details .rates.expanded { max-height: 500px }
.details .prop-title {color:#fff;display: block;line-height: 15px;margin-top: 10px;}
.details .raddr {padding: 10px 15px 0;color: rgba(255, 255, 255, 0.41);font-size: 11px;}
.details .raddr span {color: rgba(255, 255, 255, 0.75);}

.sub-details {background: rgba(255, 255, 255, 0.1);padding: 10px;}
.sub-list { font-size: 12px;margin-top: 10px;}
.sub-item {padding: 6px 10px;margin-bottom: 1px;background: rgba(255, 255, 255, 0.1);line-height: 16px;display: block;text-decoration: none;}
.sub-active-item {cursor: pointer;}
.sub-active-item:hover  {background: rgba(255, 255, 255, 0.16);}
.s-title {color: rgba(255, 255, 255, 0.86);margin-bottom: 6px;font-size: 11px;margin-right: 10px;}
.s-val {color: rgba(255, 255, 255, 0.49);font-size: 11px;}
.sectors.sub-list .s-val {display: block;}
.details .img-wrap {/* width: 80px; *//* height: 80px; */line-height: 100px;text-align: center;float: left;margin-right: 10px;/* background: rgba(255, 255, 255, 0.19); */background-position: center;}
.details .img {width: 70px;height: 90px;background-repeat: no-repeat;background-size: auto 100%;/* margin: -10px; */background-position: center;background-color: rgba(255, 255, 255, 0.13);}
.details .pane-cont { padding: 0 }
.details-wrap {padding: 10px;}
.details .number {float: left;width: 100px;height: 100px;background: rgba(255, 255, 255, 0.19);margin-right: 10px;text-align: center;line-height: 50px;font-size: 18px;font-weight: bold;/* color: rgba(255, 255, 255, 0.58); */position: relative;}
.details .number .lb {position: absolute;top: 0;left: 0;right: 0;height: 16px;line-height: 16px;font-size: 7px;text-transform: uppercase;text-align: center;}
.details .photo, .photo-large {background-repeat: no-repeat;background-size: cover;cursor: pointer;background-position: center;}
.photo-large, .info-holder {visibility: hidden;opacity: 0;background-color: #fff;position: fixed;position: relative;transition: opacity 0.5s ease-out,  visiblity 0s 0.5s;}
.photo-large {background-color: rgba(29, 56, 84, 0.63);}
.photo-large.expanded , .info-holder.expanded {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 10;transition: opacity 0.5s ease-out;/* background-color: #1d3854; */opacity: 1;visibility: visible;}
.photo-large .icon-close, .info-holder .icon-close{cursor: pointer;position: absolute;top: 0;font-size: 30px;width: 50px;height: 50px;z-index: 1;/* background: rgba(255, 255, 255, 0.54); */text-align: center;line-height: 40px;color: #fff;right: 0;padding: 20px;}
.photo-large > div {position: absolute;top: 50px;left: 50px;right: 50px;bottom: 50px;background-repeat: no-repeat;background-size: contain;background-position: center;}
.info-holder { padding-top: 40px; }
.info-holder iframe{width: 100%;height: 100%;display: block;margin: 0 auto;color : rgba(255, 255, 255, 0.85);}
.info-holder .icon-close {color: #000;}
.details .btn-ank { cursor: pointer; }
.details .back {display: block;background: rgba(255, 255, 255, 0.23);line-height: 30px;padding: 0 10px;color: #fff;font-size: 12px;margin-top: 10px;}
.details .back i {font-size: 20px;line-height: 30px;margin-right: 20px;}
.details .area {color: rgba(255, 255, 255, 0.5);font-size: 12px;/* font-weight: bold; *//* margin-top: 10px; */text-transform: CAPITALIZE;float: right;background: rgba(255, 255, 255, 0.1);line-height: 20px;padding: 0 6px;}
.details .tel, .details .url  {color: rgba(255, 255, 255, 0.81);line-height: 20px;/* margin-top: 10px; */font-size: 11px;overflow: hidden;/* font-weight: bold; */}
.details .tel u { margin-right: 10px }
.details .rank {color: rgba(255, 255, 255, 0.41);line-height: 16px;font-size: 12px;margin-bottom: 6px;}
.details .streets { color: #fff }
.details .streets .title {color: rgba(255, 255, 255, 0.47);margin-bottom: 8px;}
.details .street {border-bottom: 1px solid rgba(255, 255, 255, 0.16);padding: 6px 10px;background: rgba(255, 255, 255, 0.1);}
.details .numbers {font-size: 11px;font-weight: normal;}
.details .contacts {margin-top: 10px;/* border: 1px solid rgba(255, 255, 255, 0.22); *//* padding: 4px 10px; */overflow: hidden;}
.details .sub-header {display: block;line-height: 26px;background: rgba(255, 255, 255, 0.5);padding: 0 10px;margin-top: 10px;}
.details .hot-line {color: rgb(255, 153, 153);/* font-size: 13px; */}
.details .real-hot-line {color: rgba(255, 255, 255, 0.75);font-size: 12px;line-height: 16px;margin-bottom: 10px;}
.details .real-hot-line a {color: rgba(255, 255, 255, 0.75);}
.details .sub-panel { display: none }
.details .sub-panel.shown { display: block; }
.dash-toggle a + .btns { display: none }
.details .tip {font-size: 10px;color: rgba(255, 255, 255, 0.46);margin-top: 4px;/* font-style: italic; */}
.info-list {padding: 0;}
.details .info-link {color: rgba(255, 255, 255, 0.85);/* padding: 0 10px; */border-bottom: 1px solid rgba(255, 255, 255, 0.28);line-height: 30px;padding: 5px 15px;}
.details .info-link:first-of-type {/* border-top: 1px solid rgba(255, 255, 255, 0.28) */}
.details .info-link p {font-size: 11px;line-height: 16px;padding: 10px;padding-top: 0;color: rgba(255, 255, 255, 0.7);}
.details .info-link h2 {cursor: pointer;}
.details .info-link a {color: rgba(255, 255, 255, 0.85); text-decoration:none;}
.details .info-link a:hover {color: rgba(255, 255, 255, 0.85); text-decoration:none;}
.details .info-link:hover {background: rgba(255, 255, 255, 0.16);}
.details .info-first {
    cursor: default!important;
    line-height: 1.5em;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 0.16);
    /* background: rgba(255, 255, 255, 0.8); */
    /* color: #000; */
}

.details .more {height: 20px;cursor: pointer;}
.details .more ul {max-height: 0;overflow: hidden;}
.details .more.expanded {height: auto;transition: height 0.5s ease-out;}
.details .more.expanded ul {max-height: initial;}

.no-records {color: rgba(255, 255, 255, 0.42);font-style: italic;padding: 0 10px 0 0;line-height: 30px;font-size: 12px;}
.dash-toggle a.selected + .btns.shown {display: block;overflow: hidden; float: right;}
.dash-toggle .btn {margin-right: 4px;line-height: 26px;height: 30px;font-size: 12px;margin-top: 4px;padding: 0;width: 30px;float: left;display: block;}
.dash-toggle .btn-save {background: rgba(255, 0, 0, 0.46);color: #fff;}
.dash-toggle a {padding: 0 10px}
.dash-toggle a.has-changes {color: #ffa878;}
.dash-toggle a.has-changes:after {content: '*'}

.dash-panel {height: calc(100% - 38px);overflow: auto;position: relative;}
.dash-panel {display: none;}
.dash-panel.shown { display: block }
.main-list {
    /* padding-top: 30px; */
    /* height: 100%; */
    /* overflow: hidden; */
}
.main-list ul{height : calc(100% - 38px);overflow-y: auto;}
.main-list .item, .main-list .head-item {overflow:hidden;color: rgba(255, 255, 255, 0.76);font-size: 11px;border-bottom: 1px solid rgba(255, 255, 255, 0.2);cursor: pointer;/* background: rgba(255, 255, 255, 0.06); *//* padding-right: 15px; */line-height: 30px;}
.main-list .head-item { padding: 0 10px }
.main-list .item:hover, .main-list .head-item:hover {background: rgba(255, 255, 255, 0.1);}
.main-list .item {padding-left: 30px;color: rgba(255, 255, 255, 0.5);background: none;position: relative;transition: background ease-out 0.5s;}
.main-list .single-item {padding-left: 0;}
.main-list .item em {float: left;background: rgba(255, 255, 255, 0.06);width: 30px;color: #fff;text-align: center;margin-right: 10px;}
.main-list .item i{position: absolute;left: 0;top: 0;line-height: 30px;padding: 0 10px;color: #ffaf00;}
.main-list .item.selected,  .main-list .head-item.selected {background: rgba(255, 255, 255, 0.66);color: #000;}

.main-list .item u {margin-right: 30px;}
.main-list .item b {float: right;width: 20px;height: 20px;line-height: 20px;text-align: center;margin-left: 1px;/* background: rgba(255, 255, 255, 0.06); *//* font-family: monospace; */border-radius: 20px;margin: 5px;font-weight: normal;font-size: 9px;}
.main-list .item u:before {/* padding: 4px; */float: right;font-size: 14px;color: #fff;}
.main-list .item .rate-up-true:before {content: "\2191";}
.main-list .item .rate-up-false:before {content: "\2193";}

.main-list .item.published-true b {border-radius: 2px}
.history-list {overflow: hidden; /* position: relative; */ }
.history-list .item{padding: 4px;background: rgba(255, 255, 255, 0.05);font-size: 11px;border-bottom: 1px solid rgba(255, 255, 255, 0.16);padding-right: 44px;overflow: hidden;position: relative;}
.history-list .name {color: #fff;margin-bottom: 6px;height: 11px;}
.history-list .date {float: right;color: rgba(255, 255, 255, 0.66);}
.history-list .title {color: rgba(255, 255, 255, 0.39);}
.history-list .item a {position: absolute;right: 0;top:0;width: 36px;height: 36px;line-height: 36px;text-align: center;background: rgba(255, 255, 255, 0.08);cursor: pointer;color: rgba(255, 255, 255, 0.78);}
.history-list .item a:hover { color: #fff }
.history-list .item.undone {opacity: 0.5;/* background: rgba(255, 255, 255, 0.22); */}
.history-list .redo{display: none }
.history-list .item.undone .redo{display: block }
.history-list .item.undone .undo{display: none }


.map, .anketa, .ank-wrapper {position: absolute;top: 0;right: 0;left: 0;bottom: 0;/* position: relative; */background-repeat: no-repeat;background-size: cover;background-position: center;}
.anketa {/* padding: 20px; *//* position: relative; */box-sizing: border-box;/* overflow-y: auto; */z-index: 1;background: rgba(255, 255, 255, 0.95);}
.anketa .item{line-height: 30px;font-size: 12px;overflow:hidden;margin-bottom: 4px;-webkit-user-select: none;user-select: none;}
.anketa .item b {width: 30px;height: 30px;float: left;text-align: center;margin-right: 10px;cursor: pointer;box-sizing: border-box;border: 1px solid #ddd;}
.anketa .item.dragged { border:1px dashed #b7250c; padding: 2px; opacity: 0.6 }
.drag-mode *{ cursor: move !important  }
.anketa .subject-title {font-size: 16px;margin-bottom: 20px;}
.anketa.edit-mode .subject-title { display: none }
.anketa .item .check {font-size: 12px;line-height: 30px;display: none;}
.anketa .item.checked .check { display: block }
.anketa .item.empty b {background: rgba(255, 255, 255, 0.4); background: #dfdfdf;}
.anketa .ank-temp {}
.anketa .ank-content {overflow-y: auto;padding: 0 20px 30px;top: 70px;left: 0;position: absolute;bottom: 0;right: 0;}
.anketa.changed .btn-save, .anketa.changed .btn-cancel  {  display: block}
.anketa.changed .btn-edit {  display: none }
.anketa .btn-close, .anketa .btn-edit {  display: block; position:  absolute; }
.anketa .weight {opacity: 0; transition: opacity ease-out 0.3s; /* border-radius: 20px; */font-size: 11px;margin-left: 4px;float: right;width: 20px;height: 20px;line-height: 20px;text-align: center;margin-top: 4px;}
.anketa .item:hover .weight {opacity: 1 }
.ank-rate {display: inline-block;width: 24px;height: 24px;font-size: 10px;border-radius: 20px;line-height: 24px;text-align: center;font-weight: normal;}
.anketa .chart-cont{position: absolute;background: rgba(255, 255, 255, 0.23);z-index: 3;width: 100%;height: 100px;display: none;}
.anketa .ank-wrapper {/* position: relative; */}
.anketa.charted .ank-wrapper {margin-top: 100px;}
.anketa.charted .chart-cont{ display: block;}



.anketa .title{display: block;margin-left: 0;margin-right: 20px;font-size: 12px;cursor: default;}
.anketa.edit-mode .title, .anketa.edit-mode .weight, .anketa.edit-mode .new-template .cat{background: #f2f2f3;border-radius: 0;/* color: #333; */height: 30px;/* user-select: none; */}
.anketa.edit-mode .editable:focus, .anketa .weight:focus , .anketa.edit-mode input[type="text"]:focus  {background: rgba(234, 115, 48, 0.21) !important; color: #000}
.anketa.edit-mode .title { padding: 0 10px }
.anketa.edit-mode .weight { width: 30px; margin-top:0; line-height: 30px; opacity: 1 }
.anketa.edit-mode b { display: none }
.anketa .btn {background: #364e67;color: #fff;box-shadow: 0 0 10px rgba(0, 0, 0, 0.41);}
.anketa .btn-add { display: none }
.anketa.edit-mode .btn-add {display: block;float: right;margin-left: 4px;}
.anketa .ank-header{/* overflow: hidden; */position: absolute;top: 0;left: 0;padding: 20px;right: 0;/* background: rgba(255, 255, 255, 0.78); */z-index: 2;}
.anketa .ank-tools {overflow: hidden;margin-bottom: 10px;/* padding: 10px; */position: absolute;right: 40px;top: 7px;}
.anketa .ank-tools .btn {float: left;margin-right: 4px;}
.anketa .ank-header .btn-close, .anketa .ank-header .btn-edit {float: right;width: 40px;height: 40px;top: 0;right: 0;line-height: 40px;text-align: center;font-size: 20px;color: #7a8794;/* background: rgba(122, 135, 148, 0.07); */}
.anketa .ank-header .btn-edit { right: 40px}
.anketa .btn-remove {float: right;display: none;line-height: 28px;padding: 0 10px;/* width: 30px; *//* height: 30px; */}
.anketa .btn-remove i { line-height: 30px }
.anketa .icon-plus { display: none }
.anketa .hidden .icon-plus { display: block  }
.anketa .hidden .icon-close { display: none  }
.anketa.edit-mode .btn-remove, .anketa.edit-mode .new-template {display: block;}
.anketa .hidden { display: none }
.anketa.edit-mode .hidden {display: block;opacity: 0.4;}
.btn.btn-save {background: #ea7330;color: #fff;}
.new-template {display: none;/* margin-bottom: 20px; */margin-top: 40px;/* width: 700px; */}
.new-template .title{width: calc(100% - 335px);}
.anketa.edit-mode .new-template .weight{width: 80px;}
.new-template ::-webkit-input-placeholder {color:#777; }
.new-template ::-moz-placeholder       {color:#777; }
.new-template :-ms-input-placeholder   {line-height: 30px; color:#777;}
.new-template .cat {width: 100px;float: left;margin-right: 4px;}
.anketa  .list {max-height: 1000px;transition: ease-in-out 0.5s max-height;overflow: hidden;margin-bottom: 4px;}
.anketa .category {line-height: 20px;font-size: 13px;/* text-transform: capitalize; */font-weight: bold;margin-bottom: 6px;padding-bottom: 6px;color: #555;cursor: pointer;}
.anketa .category .stat {overflow: hidden;margin-right: 10px;float: left;font-size: 11px;}
.anketa .category .stat q, .anketa .category .stat u {float: left;line-height: 20px;/* padding: 0 6px; *//* color: #fff; */background: rgba(255, 255, 255, 0.9);width: 20px;text-align: center;}
.anketa .category .stat q {background: rgba(255, 255, 255, 0.89);}
.anketa .category.collapsed +.list {max-height: 0;}
.anketa .category.collapsed {border-bottom: 1px solid #ddd;}
.anketa .category .icon-angle-down, .anketa .category.collapsed .icon-angle-up { display: none }
.anketa .category i {margin-right: 10px;font-size: 18px;padding: 0 6px;/* background: rgba(122, 135, 148, 0.08); */float: left;line-height: 20px;}
.anketa .category.collapsed .icon-angle-down { display: inline; }
.anketa .btn-publish {border: 1px solid #c34b36;border-radius: 4px;line-height: 25px;padding: 0 10px;font-size: 13px;display: inline-block;margin-left: 20px;}
.cat-autocomplete {left: 20px;display: block;border:1px solid #ddd;z-index: 10;/* width: 100px; */border-width: 0 1px;}

.rated {background: rgba(255, 255, 255, 0.2);}
.rated0 {background: #f00  !important; color: #fff}
.rated1 {background: #ff5c00  !important;color: #fff;}
.rated2 {background: #ffa300  !important;color: #000;}
.rated3 {background: #fdff00 !important;color: #000;}
.rated4 {background: #ceff00  !important;color: #000;}
.rated5 {background: #41ff00  !important;color: #000;}

.star-rate {margin: 10px 0 ;color:#fff;}
.star-rate .lb { margin-right: 10px }
.star-rate i{font-size: 16px;color: #e7e221;}
.srated0 {color: #f00  !important; }
.srated1 {color: #ff5c00  !important;}
.srated2 {color: #ffa300  !important;}
.srated3 {color: #fdff00 !important;}
.srated4 {color: #ceff00  !important;}
.srated5 {color: #41ff00  !important;}

.weight1 {background: rgba(140, 87, 162, 0.1)  !important;color: #000;}
.weight2 {background: rgba(140, 87, 162, 0.3)  !important;color: #000;}
.weight3 {background: rgba(140, 87, 162, 0.5)  !important;color: #000;}
.weight4 {background: rgba(140, 87, 162, 0.7)  !important;color: #fff;}
.weight5 {background: rgba(140, 87, 162, 0.9)  !important;color: #fff;}

.comment {padding: 10px;border-bottom: 1px solid rgba(255, 255, 255, 0.22);cursor: default;}
.comment .head{ color: #fff }
.comment .body{color: rgba(255, 255, 255, 0.78);margin-top: 10px;line-height: 16px;overflow: hidden;max-height: 30px;}
.comment .date {float: right;color: rgba(255, 255, 255, 0.35);font-size: 11px;font-weight: normal;}
.comment.expanded .body{max-height: 200px; transition: max-height 0.5s ease-out, overflow-y 1s ease-out 1s;}

.comments-popup {position: fixed;bottom: 0;right: 400px;background: rgb(54, 78, 103);z-index: 1;margin: 4px;width: 160px;}
.comments-popup.expanded { width: 400px; }
.comments-popup .toggle {padding: 0 10px;line-height: 30px;display: block;color: #ffa878;font-size: 12px;}
.comments-popup .list {visibility: hidden;max-height: 0;transition: max-height ease-out 0.5s;overflow: hidden;overflow-y: auto;/* background: rgba(255, 255, 255, 0.46); */color: #000;font-size: 12px;}
.comments-popup.expanded .list {max-height: 600px;visibility: visible;/* height: calc(100% - 20px); */}
.comments-popup .comment {transition: background ease-out 0.5s;cursor: pointer;background: rgba(255, 255, 255, 0.2);}
.comments-popup .comment.expanded {background: rgba(255, 255, 255, 0.3);}
.comment .btns { display: none; margin-top: 20px ; overflow: hidden;}
.comment .btns .btn {box-shadow: 0 0 5px rgba(0, 0, 0, 0.28);}
.comment h6 { font-weight: bold; margin-bottom: 10px }
.comment.expanded .btns {display: block;font-size: 13px;text-align: right;}
.comment.accepted-true .btns  .btn-accept {  display: none }
.comment.accepted-false .btns  .btn-reject {  display: none }
.comment .accepted-title {line-height: 30px;text-transform: capitalize;/* font-size: 12px; */margin-right: 20px;}
.comment.accepted-true .accepted-title {color: #3ae013;}
.comment.accepted-false .accepted-title { color: #faa }
.comment-form {margin-top: 10px;}
.comment-form textarea, .comment-form input {width: 100%;box-sizing: border-box;outline:  0;border: 0;background: rgba(255, 255, 255, 0.78);margin-bottom: 2px;padding: 10px;transition: background ease-out 0.3s;font-family: tahoma;}
.comment-form .btns { text-align: right; margin-top: 10px }
.comment-form textarea:focus, .comment-form input:focus { background: #fff ;}
.btn.btn-primary {background: #ff7945;color: #fff;}
[required]::after {content: ' *';color: red;}

.cur-address {/* background: rgba(255, 255, 255, 0.22); */line-height: 24px;font-size: 11px;padding: 0 10px;/* background: #d7dce1; */color: rgba(255, 255, 255, 0.7);}
.cur-address b {color: #fff;font-weight: normal;}
.user-layout .comment .btns { display: none !important }
.y-icon {width: 30px;height: 30px;text-align: center;border-radius: 20px;background-color: #fff;text-align: center;background-size: 20px;background-repeat: no-repeat;background-position: center;border: 1px solid #00f;opacity: 0.4;z-index: 1000000;margin-left: -15px;margin-top: -15px;}
.y-icon-department {width: 40px;height: 40px;background-size: 25px;}
/*.y-icon-sector {width: 24px;height: 24px;background-size: 23px;}*/
.y-icon.marked, .y-icon-super-sector, .y-icon-tmp-point { opacity: 1 }
.y-icon-tmp-point {background-color: rgba(255, 255, 0, 0.5411764705882353);}

.y-icon-super-sector {background-color: #ffc7c5;}
.y-icon b {position: absolute;font-size: 9px;left: -15px;padding: 4px 5px;font-weight: normal;color: #2020ff;width: 10px;text-align: center;}
.clusterIcon.y-icon-sector b {font-weight: bold;color: #000;top: -4px;left: -9px;font-size: 11px;}
.clusterIcon.y-icon-sector {background-position: center 0;}
.logo {position: absolute;height: 40px;width: 110px;background: url('img/logo-label.png') no-repeat 6px 4px;z-index: 1;background-size: auto 80%;background-color: rgba(255, 255, 255, 0.5);}
.logo h1 {margin-left: 80px;font-size: 18px;font-family: Tahoma;font-weight: bold;line-height: 24px;color: #8e9caa;cursor: default;}
.pane.toolbar.collapsed ~ .results .logo {margin: 0 20px;}

.static-home {position: absolute; right: 10px; bottom: 10px; color: rgba(255, 255, 255, 0.57); }
