body, html {margin: 0;height: 100%;/* overflow: hidden; */font-family: Arial;font-size: 13px;}
.bgc {background: #3a363b;}
.fgc {color: #b7250c; border-color: #b7250c}
.fbgc {background: #b7250c;}
.clear {clear: both}
.none {display: none}
.overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;  } 
a { cursor: pointer;  }
b {font-weight: bold}


.btn {border-radius: 4px;line-height: 30px;padding: 0 20px;/* color: #fff; */border-width: 1px;cursor: pointer;border-style: none;box-sizing: border-box;height: 30px;background: rgba(255, 255, 255, 0.59);}
.btn:active {opacity: 0.8  } 
.btn:hover {opacity: 0.9  } 
.btn-sec {background: transparent;}
.btn-prim {color:#fff;border: 0;}
.btn-sec:active {opacity: 0.5  } 

.faded {opacity: 0;visibility: hidden;transition: opacity 0.5s ease-out;height: 0;/* display: none; */overflow: hidden;}
.faded.shown {opacity: 1;visibility: visible;transition: opacity 0.5s ease-out;height: auto;}

input[type="text"] {width: 100%;line-height: 40px;height: 40px;padding: 0 10px;box-sizing: border-box;background: rgba(255, 255, 255, 0.9);border: 0;font-family: monospace;color: #fff;}
input[type="text"]:focus {background: #fff}
::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.6); font-style: italic;}
::-moz-placeholder       {color:rgba(255, 255, 255, 0.6);font-style: italic;}
:-ms-input-placeholder   {line-height: 30px; color:rgba(255, 255, 255, 0.6);font-style: italic;}

.dblbuttons {overflow: hidden;white-space: nowrap;line-height: 20px;}
.dblbuttons button {padding: 0 10px;font-size: 12px; cursor: pointer;border-radius: 2px;background: transparent;color: rgba(255, 255, 255, 0.72);}
.dblbuttons button.selected {background: rgba(255, 255, 255, 0.3);color: #fff;cursor: default;}

.all {height: 100%;/* position: relative; */min-height: 100%;}
.pane {transition: width 0.5s ease-out;box-sizing: border-box;height: 100%;}
.pane.details {width: 300px;background: rgba(255, 255, 255, 0.2);position: fixed;right: 0;z-index: 1;padding-top: 40px;}
.pane.results {transition: margin 0.5s ease-out;padding: 0;margin-left: 300px;margin-right:300px;background: rgba(255, 255, 255, 0.8);overflow: visible;min-height: 100%;height: auto;position: relative;overflow: hidden;}
.pane.toolbar {width: 300px;/* background: rgba(255, 255, 255, 0.2); */margin-right: 10px;position: fixed;/* padding-top: 20px; */z-index: 1;}
.pane.toolbar .pane-cont {padding-top: 40px;position: relative;height: 100%;box-sizing: border-box;}

.pane-cont {padding: 10px;opacity: 1;transition: opacity 0.2s ease-out;}
.pane.collapsed .pane-cont {opacity: 0; }

.pane-toggle {cursor: pointer;position: fixed;background: rgba(255, 255, 255, 0.23);color: #fff;padding: 0 4px;line-height: 40px;white-space: nowrap;top: 0;width: 300px;box-sizing: border-box;z-index: 1;height: 40px;/* text-align: Center; */}
.pane-toggle {transition: width 0.3s ease-out;display: block;}
.pane-toggle b {font-family: arial;font-size: 12px;font-weight: normal;text-transform: uppercase;color: rgba(255, 255, 255, 0.73);}

.pane-toggle i {font-size: 18px;line-height: 40px;color: rgba(255, 255, 255, 0.72);padding: 0px 10px;}
.pane.details .pane-toggle {right: 0;width: 300px;}
.pane.collapsed {width: 0; margin: 0;}
.pane.collapsed .pane-toggle{z-index: 1;width: 40px;background: rgba(255, 255, 255, 0.65);}
.pane .pane-toggle .icon-angle-left {float: left;margin-right: 10px;cursor: pointer;}
.pane.collapsed .pane-toggle .icon-angle-left, .pane.collapsed .pane-toggle .icon-angle-right { display: none; }
.pane.collapsed .pane-toggle .icon-search,
.pane.collapsed .pane-toggle .icon-th-list {display: block;color: #555;}

.pane .pane-toggle .icon-search,
.pane .pane-toggle .icon-th-list { display: none; }
.pane.collapsed .pane-toggle b { display: none; }

.loadable { /*transition: filter 1s ease-out; filter: grayscale(0) opacity(1) */ }
.loading {/*filter: grayscale(1) opacity(0.5)*/}
/*.loading:before {content: '';top:0;left: 0;right: 0;bottom: 0; background: #fff; position: absolute;z-index: 1;opacity: 0.4;}
*/
.pane.details.collapsed .pane-toggle{right: 0;/* display: none; */}
.pane.toolbar.collapsed ~ .results {margin-left:0;} 
.pane.details.collapsed ~ .results {margin-right:0;} 
.pane.details.collapsed ~ .list-header{padding-right: 0;right: 0;} 
.pane.toolbar.collapsed ~ .list-header{left: 0;padding-left: 40px;}

.toolbar .search{/* margin-bottom: 10px; */margin-left: 20px;position: absolute;z-index: 2;top: 0;left: 0;right: 0;}
.search-toggle {cursor: pointer;display: none;}
.search-toggle i {padding-right: 4px}
.search-toggle i:before{content: "\f106"; }
.search-toggle.collapsed i:before{content: "\f107"; }

.search-toggle:hover {color: rgba(255, 255, 255, 0.8)}
.search-toggle.collapsed + .checkbox-list {max-height: 0;  }
.search { position: relative; }
.search .icon-search{position: absolute;font-size: 16px;top: 6px;right: 6px;color: rgba(255, 255, 255, 0.64);cursor: pointer;display: none;}
.search input[type="text"] {/* padding-right: 30px; */background: transparent;}
.search input[type="text"]:focus + i { color: #fff  }
.toolbar .checkbox-list {/* margin-left: 20px; */margin-top: 10px;}

.popup {/* background: rgba(255, 255, 255, 1); */overflow: hidden;position: absolute;right: 0;max-height: 308px;transition: max-height 0.2s ease-out;margin-top: 40px;z-index: 1;}
.popup.collapsed {/* max-height : 0; */border: 0;}
.popup li{line-height: 30px;padding: 0 10px;font-size: 11px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;cursor: pointer;color: #555;border-bottom: 1px solid #ccc;box-sizing: border-box;}
.popup li:hover, .popup li.hovered { color: #000; background:  #f1f1f1 }
.checkbox-list {transition: max-height 0.3s ease-out;max-height: 200px;overflow: hidden;}
.autocomplete {left: 0;top: 0;background: rgba(255, 255, 255, 1);width: 300px;}
.autocomplete h3 { line-height: 30px; color: #333; padding: 0 10px }

.checkbox-list li{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.35);
    margin-bottom: 4px;
    white-space: nowrap;
    text-transform: capitalize;
}
.checkbox-list li i{
    background: rgba(255, 255, 255, 0.4);
    margin-right: 10px;
    /* line-height: 34px; */
    padding: 6px;
    display: inline-block;
}
.checkbox-list li i:before {opacity: 0; transition: opacity 0.2s ease-out;}
.checkbox-list li.checked i:before{opacity: 1}
.checkbox-list li.checked i {  background: rgba(255, 255, 255, 0.5); }
.checkbox-list li.checked {color: #fff;}





@media screen and (max-width: 1350px) {
    .edited .info h6{float: none;margin-bottom: 4px;width: auto;}
    .edited .info input { margin-left: 0; width:100%; }
}
@media screen and (max-width: 1100px) {
    .info h6{float: none;margin-bottom: 4px;width: auto;}
    .info p { margin-left: 0;  }
}

.list-header {position: fixed;overflow: hidden;top: 0;height: 30px;right: 300px;left: 200px;line-height: 30px;padding-left: 10px;color: rgba(255, 255, 255, 0.8);transition: right 0.5s ease-out, left 0.5s ease-out, padding 0.5s ease-out;}
.list-header a {float: right;font-size: 32px;cursor: pointer;line-height: 30px;}
.list-header .add-new {float: left;font-size: 24px;margin-left: -6px;/* background: #fff; *//* padding: 0 6px; */}
.list-header .res-info {float: right;margin-right: 10px;font-size: 12px;}
.list-header a.selected {color: #fff;cursor: default;}
.list-header .dblbuttons {float: right;/* margin: 0 10px; */}
.list-header .sort-toggle {font-size: 18px;line-height: 32px; padding: 0 10px; color: #fff}
.sort-panel {max-width: 400px;transition: max-width 0.3s ease-out;margin: 0 10px;margin-top: 6px;}
.sort-toggle.collapsed + .sort-panel { max-width: 0; padding: 0;}
.sort-toggle.collapsed {color: rgba(255, 255, 255, 0.8)  }
.sort-toggle .icon-sort-amount-desc { display: none }
.sort-toggle.desc .icon-sort-amount-desc{ display: inline; }
.sort-toggle.desc .icon-sort-amount-asc{ display: none; }

.scroll-helper {position: fixed;bottom: 10px;right: 10px;z-index: 1;border-radius: 10px;color: rgba(255, 255, 255, 0.71);}
.scroll-helper a {font-size: 16px;padding: 4px 10px;display: inline-block;}

.tools {position: absolute;top: 0;right: 0;padding: 4px;z-index: 1;}
.tools .btn {padding: 0;width: 30px;text-align: center;float: left;margin-left: 2px;}
.tools .cancel, .tools .save{ display: none; } 
.edit-mode .tools .btn { display: none }
.edit-mode .tools .cancel, .edit-mode  .tools .save{ display: block; } 
.edit-mode .editable {border: 1px solid #ccc;padding: 4px;color: #fff !important;}
.btn.save {background: #ea3076;color: #fff;}

.details-tools {}

.details .name {font-size: 14px;color: #fff;line-height: 16px;/* margin-bottom: 10px; */overflow:hidden;}
.details .name span {display: block;margin-left: 40px;}
.details .addr {font-size: 13px;color: rgba(255, 255, 255, 0.75);line-height: 16px;}
.details .tel i{ padding-right: 10px  } 
.details .desc {font-size: 11px;margin-top: 10px;color: rgba(255, 255, 255, 0.47);}
.sub-details {/* background: rgba(255, 255, 255, 0.19); *//* padding: 11px; */font-size: 12px;margin-top: 10px;}
.sub-item {padding: 6px 10px;cursor: pointer;margin-bottom: 1px;background: rgba(255, 255, 255, 0.1);}
.s-title {color: #fff;margin-bottom: 6px;}
.s-val {color: rgba(255, 255, 255, 0.49);font-size: 11px;}
.sub-item:hover  {background: rgba(255, 255, 255, 0.16);}
.details .img {width: 30%;height: 0;padding-top: 30%;background-repeat: no-repeat;background-size: cover;/* margin: -10px; */float: left;margin-right: 10px;}
.details .pane-cont { padding: 0 }
.details-wrap { padding: 10px }
.details .number {float: left;width: 30px;height: 30px;background: rgba(255, 255, 255, 0.19);margin-right: 10px;text-align: center;line-height: 30px;}
.details .back {display: block;background: rgba(255, 255, 255, 0.23);line-height: 30px;padding: 0 10px;color: #fff;font-size: 12px;}
.details .back i {font-size: 20px;line-height: 30px;margin-right: 20px;}
.details .area {color: rgba(255, 255, 255, 0.5);font-size: 12px;font-weight: bold;margin-top: 10px;}
.details .tel { color: #fff; line-height: 30px; margin-top: 10px;  font-size: 13px }
.details .rank {color: rgba(255, 255, 255, 0.41);line-height: 30px;font-size: 13px;margin-bottom: 6px;text-transform: capitalize;}
.details .streets { margin-top: 10px; color: #fff }
.details .streets .title {color: rgba(255, 255, 255, 0.47);margin-bottom: 8px;}
.details .street {margin-bottom: 4px;border-bottom: 1px solid rgba(255, 255, 255, 0.16);padding-bottom: 4px;}
.details .numbers {font-size: 11px;font-weight: normal;}

.dash-toggle  {overflow:hidden;margin: 0 -10px;margin-top: 10px;background: rgba(255, 255, 255, 0.11);}
.dash-toggle  a{float: left;line-height: 30px;/* background: rgba(255, 255, 255, 0.65); */padding: 0 10px;color: rgba(255, 255, 255, 0.52);font-size: 11px;transition: background-color 0.3s ease-out;}
.dash-toggle  a:hover {color: #fff}
.dash-toggle a.selected {background: rgba(255, 255, 255, 0.77);color: #000 !important;}

.ank-toggle  {overflow:hidden; margin-bottom: 20px}
.ank-toggle  a{float: left;line-height: 30px;padding: 0 10px;font-size: 13px;transition: background-color 0.3s ease-out;}
.ank-toggle  a:hover {color: #333}
.ank-toggle a.selected {background: #777;color: #fff !important;}

.dash-content {height: calc(100% - 155px);overflow: auto;margin: 0 -10px;/* margin-top: 10px; */}
.main-list {}
.main-list .item{overflow:hidden;padding: 0 10px;color: rgba(255, 255, 255, 0.76);font-size: 11px;border-bottom: 1px solid rgba(255, 255, 255, 0.17);cursor: pointer;background: rgba(255, 255, 255, 0.06);padding-right: 0;line-height: 30px;}
.main-list .item u {margin-right: 40px;}
.main-list .item b {float: right;width: 30px;height: 30px;line-height: 30px;text-align: center;margin-left: 1px;/* background: rgba(255, 255, 255, 0.06); *//* font-family: monospace; */}

.history-list {}
.history-list .item{padding: 4px;background: rgba(255, 255, 255, 0.05);font-size: 11px;border-bottom: 1px solid rgba(255, 255, 255, 0.16);padding-right: 50px;overflow: hidden;position: relative;}
.history-list .name {color: #fff;margin-bottom: 6px;}
.history-list .date {float: right;color: rgba(255, 255, 255, 0.66);}
.history-list .title {color: rgba(255, 255, 255, 0.39);}
.history-list .item a {position: absolute;right: 0;top:0;width: 36px;height: 36px;line-height: 36px;text-align: center;background: rgba(255, 255, 255, 0.08);cursor: pointer;color: rgba(255, 255, 255, 0.78);}
.history-list .item a:hover { color: #fff }
.history-list .item.undone {opacity: 0.5;/* background: rgba(255, 255, 255, 0.22); */}
.history-list .redo{display: none }
.history-list .item.undone .redo{display: block }
.history-list .item.undone .undo{display: none }

.map, .anketa { position: absolute;top: 0;right: 0;left: 0;bottom: 0; }
.anketa {padding: 20px;/* position: relative; */box-sizing: border-box;overflow-y: auto;z-index: 1;background: rgba(255, 255, 255, 0.91);}
.anketa .item{line-height: 30px;font-size: 12px;overflow:hidden;margin-bottom: 2px;}
.anketa .item b {width: 30px;height: 30px;float: left;text-align: center;margin-right: 10px;cursor: pointer;box-sizing: border-box; border: 1px solid #ccc; }

.anketa .item i {font-size: 20px;line-height: 30px; display: none} 
.anketa .item.checked i { display: block } 
.anketa .item.empty b {background: rgba(255, 255, 255, 0.4); background: #dfdfdf;}
.anketa .ank-temp {/* margin-bottom: 10px */}
.anketa .btn.save {margin: 10px 0; visibility: hidden;}
.anketa .changed .btn.save {  visibility: visible; }
.anketa .weight {border-radius: 20px;padding: 2px 5px;font-size: 10px;border: 1px solid #777;margin-right: 6px;}


.rated0 {background: #f00; color: #fff}
.rated1 {background: #ff5c00;color: #fff;}
.rated2 {background: #ffa300;color: #fff;}
.rated3 {background: #fdff00; color: #000}
.rated4 {background: #ceff00;color: #000;}
.rated5 {background: #41ff00;color: #000;}

