@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Russo+One&amp;subset=cyrillic');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  color: #4b4b4b;
  /* height:  100%; */
  /* position:  relative; */
}
body * {-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */-moz-box-sizing: border-box;    /* Firefox, other Gecko */box-sizing: border-box;         /* Opera/IE 8+ */transition: all 0.1ms ease-out;transition: background-color 2ms ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.right {float:right;}
.left {float:left;}
.clear {clear: both;/* height: 0; */}
h1, h2, h3 {margin:  0;text-transform:  uppercase;}
h1 {font-family: 'Russo One', sans-serif;font-weight:  300;}
h2 {font-family: 'Roboto', sans-serif;font-weight: 900;font-size: 18px;line-height:  18px;color:#8b3d4b;display:  inline-block;vertical-align:  middle;}
h2::before {content:""; width:42px;height:  100%;height: 13px;display: inline-block;margin-right: 8px;background-image:  url(img/h2-dash.png);background-repeat:  no-repeat;background-position: center center;}
h3 {
    color: #fff;
    text-transform:  uppercase;
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 26px;
    letter-spacing:  1px;
}
p {margin: 15px 0 0;}
a {text-decoration: underline;font-weight: 700; color: #4c7998;cursor: pointer;}
a:hover {color: #fff;text-decoration:  none;}
b {font-weight: 700;}

.btn {width:  100%;display: inline-block;padding: 10px;text-decoration:  none;text-transform:  uppercase;color:  #fff;text-align:  center;border-radius: 5px;}
.donate {/* width: 100%; */background-color:  #e94944;/* margin-top: -100px; */}
.donate:hover {background-color: #8b3d4b;}

#main-menu {
    white-space: nowrap;
    text-align:  right;
    word-break: no-wrap;
    position: absolute;
    right: 50px;
}


.container {width: 100%;position: relative;}
.home-map {width:33%;/* position:  relative; */}
.home-map .city-point  {width: 10px;height:  10px;background: #f00;background: url('img/geoteg_40x50_main.svg');background-size:  100%;position: absolute;z-index: 1;/* border: #fff 2px solid; *//* border-radius: 100%; */width: 38px;height: 50px;/* margin-left: -15px; *//* margin-top: -15px; */display: block;/* box-shadow: 0 0 10px #000; */}
.home-map .city-point:hover {opacity: 0.5}
.home-map .spb-point {top: 3%;left: 7%;}
.home-map .msc-point {top: 43.7%;left: 45.5%;}
.home-map .vo-point {top: 80%;left: 53.5%;}
.home-map .img {background-image: url(img/home-map-tall.jpg);background-repeat: no-repeat;background-size: auto 100%;/* background-position: left top; */position: absolute;width: 33%;height: 100%;background-position: center;background-size: cover;display: flex;align-items: center;}
.home-map .rel {position: absolute;width: 100%;/* background: #00ff004a; */padding: 50%;}
.home-info{width:67%;background-color: #a9d1e5;padding: 50px 50px 0 50px;position:  relative;}
.logo-wrap {text-decoration: none;}
.logo-wrap > * {display: inline-block;}
.logo-wrap h1 {max-width: 200px;color:#fff;text-decoration: none;letter-spacing:  1px;padding-left:  10px;font-size:  30px;}
#index .logo {width:72px;}
.about, .nav-wrap {width: 47%;max-width:  450px;}
.nav-wrap {/* text-align: right; *//* min-height: 116px; */margin-top: 60px;}
nav {margin: 20px 0;}
nav > a {margin-left: 30px;}
nav > a.active {color: #fff;text-decoration: none;}

.text-wrap {padding: 30px;margin: 30px 0;}
.about .text-wrap {background-color: #fff;border-radius:  5px;}
.about .text-wrap p {margin-left: 50px;color: #416e8c;line-height: 24px;font-weight:  300;}
.about .text-wrap.useful-links {background-color: transparent;color: #4c7998;margin-bottom:  0;}
ul  {list-style-type: none;padding:  0;}
ul li {margin-bottom:  6px;}
ul.dashed li::before {content:""; */background-image:  url(img/li-dash.png);/* left:-100%; */width:50px;height:  100%;height: 13px;display: inline-block;margin-right: 10px;background-image: url(img/li-dash.png);background-repeat:  no-repeat;background-position: center center;}
.about .text-wrap.useful-links h2::before {display: none;}

.cities {margin-top: 50px;color: #fff;font-size:  13px;}
.cities .link {padding: 30px;margin-bottom: 30px;width: 100%;border-radius: 5px;background-color: #4b7898;display:  block;position:  relative;}
.cities .link:hover {    background-color: #74a3bb;}
.cities .link .item {   margin-top: 10px; }
.cities .link a {color: #fff;font-weight:  400;margin-right:  10px;}
.transparent {opacity: 0.5;}
.cities .inner-link {z-index: 3;}
.cities .city-link:hover ~ .summary .map-link {text-decoration: none;}
.cities .city-link {position: absolute;top: 0;bottom:  0;left: 0;right: 0;}

.contact {background-color: #74a3bb;margin-top:  15px;}
.contact:hover {background-color: #4b7898;}

footer {width: 100%;padding: 20px 50px;background-color: #62355a;color: #fff;}

.inner h1 {font-size: 30px;color:#8b3d4b;margin-left: 70px;}
.inner h1::before {content:"";width: 55px;height:  100%;height: 19px;display: inline-block;margin-right: 13px;margin-left:  -70px;background-image:  url(img/h1-dash.png);background-repeat:  no-repeat;background-position: center center;}
.pad-inner{padding:20px 50px;}
.inner .donate {width: 250px;margin-top: 9px;}
.inner #main-menu {position: relative;display:  inline-block;/* left: 0; */right: auto;text-align:  left;}
.inner header {background-color: #a9d1e5;background-image: url(img/header-map.jpg);background-repeat:  no-repeat;background-position: right top;background-size: 400px;}
.inner .logo-wrap {width:30%;display:  inline-block;vertical-align:  middle;}
.inner .menu-wrap {width: 70%;}
.inner .logo {float:  left;height: 55px;}
.logo-title {font-family: 'Russo One', sans-serif;font-size: 22px;line-height: 55px;font-weight: 300;text-transform:  uppercase;margin-left: 20px;margin-top: 5px;}
.logo-wrap a {text-decoration: none;color:#fff;line-height: 55px;display: block;text-align:  left;vertical-align:  middle;}

.sidebar {width: 30%;}
.content {width: 70%;}

.inner .text-wrap p, .inner .text-wrap ul, .inner .text-wrap p, .inner .text-wrap form, .inner .text-wrap a.page-more {margin-left: 70px;margin-top: 25px;font-weight:  400;font-size:  16px;line-height: 24px;color:  #4b4b4b;}
.inner .text-wrap a:hover {text-decoration: none;color: #4c7998;}
.page-more {display: block;}
.page-more + .more-content, .page-more + #more-content {display: none;}
.page-more.expanded + .more-content, .page-more.expanded + #more-content {display: block;}
.text-wrap ul {list-style-type: disc;padding-left: 30px;}
.text-wrap ul.dashed, .text-wrap ul.regions {list-style-type: none;padding-left: 0;}
form {max-width: 500px;}
form > * {width: 100%;}
textarea, input {
    border:  0;
    background-color:  #d9edf7;
    padding: 20px 30px;
    color:  #4b7898;
    font-size:  14px;
    margin-bottom:  20px;
}
form textarea {height: 200px;}
.inner .text-wrap div.tip, .captcha-label {
    margin-left:  0;
    font-size:  12px;
    color:  #818181;
    line-height:  15px;
    /* margin-top: 22px; */
}
input[type=checkbox] {float: left;
    width: auto;
    margin-top: 6px;
    margin-right: 10px;}
#contactButton, #payButton {width: auto;min-width:  300px;font-size:  15px;font-family:  'Roboto', sans-serif;font-weight: 700;cursor:  pointer;border: 0;}
.clearfix {content: "";
    clear: both;
    display: table;}
#warning {display: none;color: red;margin-left:  0;}

/* STATIC CITIES */
.inner .text-wrap p.note {background-color: #f9f9f9;display: inline-block;padding: 10px;margin-top: 20px;}
.star-rate {margin: 10px 0;background-color: #fff;margin: 0px -15px;padding: 10px 15px;font-weight:  400;}
.star-rate .lb {margin-right: 5px;}
.star-rate i{font-size: 16px;color: #e7e221;}
.srated0 {color: #e93232  !important; }
.srated1 {color: #ff5c00  !important;}
.srated2 {color: #fb7c00  !important;}
.srated3 {color: #fee900 !important;}
.srated4 {color: #9ce410  !important;}
.srated5 {color: #1cc27e  !important;}
.brated0 {border-color: #e93232  !important; }
.brated1 {border-color: #ff5c00  !important;}
.brated2 {border-color: #fb7c00  !important;}
.brated3 {border-color: #fee900 !important;}
.brated4 {border-color: #9ce410  !important;}
.brated5 {border-color: #1cc27e  !important;}
.regions .head-item {text-transform: uppercase;margin-top: 20px;overflow: auto;font-weight:  700;width: 100%;}
.regions .child-item {width: 24%;margin-right: 0.3%;margin-top:  10px;display: inline-block;vertical-align:  top;border-left: 4px solid;background-color:  #f9f9f9;padding:  0 15px;min-height: 230px;font-size:  12px;}
.regions a.title {text-decoration: none;color: #4b4b4b;}
.regions .head-item a.title {text-decoration: underline;color: #33566f;}
.regions .head-item a.title:hover {text-decoration: none;color: #33566f;}
.regions a.title:hover {color: #4b4b4b;}
.title > span {display: block;margin: 7px 0;position:  relative;line-height: 15px;}
.tel span {content:url(img/icon-phone-blue.png);display:  inline-block;vertical-align:  text-top;margin-right: 8px;position:  absolute;top: 4px;}
.tel u {text-decoration: none;margin-left: 24px;display:  block;line-height: 20px;}
.regions .child-item .name, .regions .child-item .rank {font-weight: 400;line-height: 14px;}
.regions .child-item .rank {font-size: 10px;}
.reports {text-transform: none;color: #4d4d4d;font-weight: 300;font-size: 12px;}
.reports .no-records {text-decoration: none;color: #4d4d4d;font-weight:  300;}

.images .text-image {display: inline-block;margin-right: 50px;}
.images .text-image img {max-height: 100px;}


@media screen and (max-width: 1400px) {
  .inner h3 {font-size: 22px;}
  .home-map .spb-point {top: 2%;left: 7%;}
  .home-map .msc-point {top: 42.7%;left: 45.3%;}
  .home-map .vo-point {top: 79%;left: 53.5%;}
  .regions .child-item {width: 32%;}
}
@media screen and (max-width: 1265px) {
  .inner .cities .link {padding: 20px;}
  .inner #main-menu {/* left: -100px; */}
}
@media screen and (max-width: 1205px) {
  h3 {   font-size:  22px; }
  .home-info { padding: 30px 30px 0 30px;}
  #index #main-menu { right: 30px;   margin-top:  0px; }
  .logo-wrap h1 { font-size:  26px; }
  #index .logo {width:50px;/* text-decoration:  none; */}
  .nav-wrap {margin-top: 25px;}
  nav > a {margin-left: 15px;}
  .pad-inner {padding: 20px 30px;}
  .inner .cities {margin-top: 20px;vertical-align:  t;}
  .inner .text-wrap {margin-top: 0px;}
  .inner #main-menu {left:0;margin-top:  18px;}
  nav > a {font-size: 14px;}
  .home-map .spb-point {top: 0%;left: 6%;}
  .home-map .msc-point {top: 40.7%;left: 44.5%;}
  .home-map .vo-point {top: 77%;left: 52.5%;}

}
@media screen and (max-width: 1040px) {
  body {font-size: 14px;}
  .about .text-wrap p {margin-left: 0;}
  .logo-wrap h1 {font-size: 22px;}
  .inner h3 {font-size: 18px;}
  .inner #main-menu {left: -50px;margin-top: 15px;}
  .logo-title {display: block;margin-left:60px;line-height: 25px;/* font-size:  18px; */}
  .inner .logo {margin-top: -5px;}
  .header-inner .pad-inner {padding: 10px 30px;}
  .inner h1 {font-size: 22px;}
  .inner .text-wrap p, .inner .text-wrap ul, .inner .text-wrap p, .inner .text-wrap form {margin-left: 0px;font-size: 14px;}
  .inner .donate {width: 180px;margin-top: 5px;}
  .home-map .spb-point {top: -2%;left: 6%;}
  .home-map .msc-point {top: 37.7%;left: 43.5%;}
  .home-map .vo-point {top: 75%;left: 51.5%;}
}
@media screen and (max-width: 925px) {
  .home-info {width: 100%;}
  .home-map{display: none;}
  .sidebar, .content {width: 100%;}
  .inner .logo-wrap, .inner .menu-wrap {width:auto;}
  .inner .donate {/* float: right; */}
  .inner #main-menu {position: relative;left: -15px;/* display:  inline; *//* vertical-align:  middle; *//* line-height: 50px; */}
  .logo-title {display: none;}
  .inner header {background-image: none;}
  .inner .cities .link {width: 33%;display:  inline-block;vertical-align: top;}
  .pad-inner .text {width: 30%;margin:  0 auto;}
  .pad-inner, .header-inner .pad-inner {padding: 10px 20px;}
  .pad-inner.sidebar, #index .nav-wrap {padding: 20px 20px 40px;}
  .inner .text-wrap {padding: 10px 0;}
}
@media screen and (max-width: 725px) {
  h3 {font-size: 18px;}
  .inner .cities .link, .pad-inner .text {width: 100%;}
  .content {padding-top: 30px;}
  .inner .menu-wrap {width: 88%;display:  inline-block;word-wrap: break-word;}
  .inner .logo-wrap  {width: 10%;}
  .inner #main-menu {display: block;vertical-align: middle;margin:  0;word-wrap: break-word;white-space: nowrap;/* float: left; *//* position:  absolute; *//* left: 70px; */}
  nav > a {/* display: inline; *//* line-height:  50px; *//* font-size:  11px; */float:  left;margin-top:  6px;}
  .inner .donate {width: 115px;margin-top: 0px;float:  right;font-size:  11px;}
  #main-menu {width: 70%;}
  .regions .child-item {width: 49%;}
}
@media screen and (max-width: 600px) {
  .logo-wrap h1 {display: none;}

  .inner .menu-wrap {width: 85%;}
  .about.left, .nav-wrap.right {float: left;width:100%;max-width: none;}
  .regions .child-item {width: 99%;}
}
@media screen and (max-width: 475px) {
  .inner .menu-wrap {width: 80%;}
  .inner .logo {    margin-top: 10px;}
  .inner .donate {margin-top: 10px;width:97px;}
  .inner .logo-wrap  {width:17%;min-height:  110px;}
  .inner .menu-wrap {padding-top:  15px;}
  body, nav > a {font-size: 12px;}

}
@media screen and (min-width: 1550px) {
  .regions .child-item {width: 19%;}
    .home-info {padding: 100px 100px 50px 100px;}
    #index #main-menu {right: 100px;}
    .home-map .spb-point {top:5%; left:8%;}
    .home-map .msc-point {top: 45.7%; left: 46.3%;}
    .home-map .vo-point {top: 82%;left: 54.5%;}
}
@media screen and (min-width: 1850px) {
    .home-info {padding: 150px 150px 100px 150px;}
    #index #main-menu {right: 150px;}
}
x;}
}
