@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


body, html {margin: 0;font-family: Tahoma, Geneva, sans-serif;font-size: 13px;/* font-family: 'Roboto Condensed', sans-serif; */}

body {

padding: 20px;

background: #14263a;

color: #fff;

font-size: 14px;

}

.overlay {

	position: fixed;

	top:0;

	left: 0;

	right: 0;

	bottom: 0;

	background: url('img/map-bg.png') no-repeat;

	background-position: center;

	background-size: cover;

	opacity: 0.6;

	filter: blur(3px);

}

.all {

	position: absolute;

	z-index: 1;

	top: 0;

	left: 0;

	right: 0;

	padding: 20px;

}

.regions {margin: 0;padding: 20px;display: flex;flex-wrap: wrap;background: rgba(255, 255, 255, 0.18);/* box-sizing: border-box; *//* width: 100%; */margin: 0 -20px;}

.regions .item {list-style: none;margin: 0;/* flex-grow: 1; */min-width: 160px;width: calc(20% - 22px);/* height: 100px; */background: rgba(255, 255, 255, 0.66);padding: 10px;margin: 0.5px;transition: background-color ease-out 0.5s;line-height: initial;}

.regions .child-item:hover { background: rgba(255, 255, 255, 0.9) }

.regions .item a {text-decoration: none;}

.regions .item * {color: rgba(35, 59, 84, 0.95);text-decoration: none;}

.regions .head-item {width: 100%;/* height: 50px; */font-size: 16px;background: rgba(255, 255, 255, 0.14);/* line-height: 40px; */padding: 10px 0px;background: none;/* border-bottom: 1px solid rgba(255, 255, 255, 0.23); */color: #fff;font-family: 'Roboto Condensed', sans-serif;padding-top: 35px;padding-bottom: 15px;}
.regions .head-item:first-child {padding-top:0;}
.regions .rate {float: left;width: 50px;height: 50px;line-height: 50px;text-align: center;font-size: 18px;margin-right: 10px;}

.regions .title {text-decoration: none;cursor: pointer;display: block;color: rgba(35, 59, 84, 0.64);font-size: 16px;font-weight: bold; font-family: 'Roboto Condensed', sans-serif;}

.regions .head-item .title{ color: #fff;}

.regions .name {/* color: #fff; */margin-top: 10px;display: block;font-size: 12px;}

.regions .rank {color: rgba(35, 59, 84, 0.8);display: block;font-size: 12px;}

.regions .head-item:hover .title{color: rgba(255, 255, 255, 0.6);}


.regions  .lb:before { float: right;}

.regions  .lb.rate-up-true:before {content: "\2191";}

.regions  .lb.rate-up-false:before {content: "\2193";font-size: 12px;font-weight: bold;}


h1 {color: rgba(255, 255, 255, 1);text-transform: uppercase;margin: 0;line-height: 60px;padding-left: 60px;font-family: 'Roboto Condensed', sans-serif;}

h3 {color: rgba(255, 255, 255, 0.85);overflow: hidden;font-family: 'Roboto Condensed', sans-serif;}

h2 { font-family: 'Roboto Condensed', sans-serif;}


.toolbar {position: absolute;right: 0;top: 0;min-width: 400px;overflow: hidden;z-index: 2;}


a.full {color: #fff;/* padding: 0 20px; */background: #ff823d;text-decoration: none;font-size: 20px;line-height: 60px;display: block;height: 60px;float: right;font-family: 'Roboto Condensed', sans-serif;width: 200px;text-align: center;cursor: pointer;}

.search {

display: inline-block;

float: right;

/* margin-right: 150px; */

position: absolute;

right: 250px;

margin-top: 12px;

overflow: hidden;

width: 400px;
}

.search button {

position: absolute;

background: #ff823d;

color: #fff;

right: 0;

width: 100px;

top: 0;

font-size: 20px;

border-radius: 0;

font-family: 'Roboto Condensed';
}

.search  i{position: absolute;font-size: 20px;top: 8px;left: 11px;color: #ccc;line-height: 40px;}

.search  input {background: rgba(255, 255, 255, 0.72);border: 0;line-height: 60px;padding: 0 20px;padding-left: 40px;color: #333;width: 100%;display: block;box-sizing: border-box;padding-right: 100px;font-size: 16px;}

.tel {font-size: 12px;margin-top: 4px;display: block;/* color: rgba(255, 255, 255, 0.51); */}

.star-rate {margin: 10px 0;background: rgba(255, 255, 255, 0.79);margin: 10px -10px;padding: 2px 10px;}

.star-rate .lb {margin-right: 10px;font-size: 12px;font-style: normal;}

.star-rate i{font-size: 16px;color: #e7e221;width: 11px;display: inline-block;}

.srated0 {color: #f00  !important; }

.srated1 {color: #ff5c00  !important;}

.srated2 {color: #ffa300  !important;}

.srated3 {color: #f5e400 !important;}

.srated4 {color: #ceff00  !important;}

.srated5 {color: #41ff00  !important;}


header {/* overflow: hidden; */}

header img {float: left;/* background: #fff; */height: 60px;}

nav {font-size: 25px;margin-top: 40px;overflow: hidden;display: flex;font-family: 'Roboto Condensed', sans-serif;}

nav a, nav .link{padding: 10px 20px;color: rgb(255, 255, 255);background: rgba(255, 255, 255, 0.6);text-decoration: none;margin-bottom: 4px;margin-right: 4px;flex-grow: 1;width: 30%;}

nav .summary {

	font-size: 14px;

	display: block;

	padding-top: 6px;

	/* float: right; */

}

nav a:hover { background: rgba(255, 255, 255, 0.3);}


@media screen and (max-width: 500px) {

    .regions .item {

    	flex-grow:1;

    }

    .toolbar {

    	/* position: relative; */

    	top: 0;

    	width: 100%;

    	right: 0;

    	background: #fff;

    	min-width: auto;

    }
}


button {line-height: 57px;border: 0;cursor: pointer;}
.static .list {
    width: 80%;
    max-width: 990px;
}
